body{
    padding-top: 54px;
}

h1{
    margin-top: 0;
}
.panel-success
{
		margin-top : 36px;
}

.navbar-default{
    background-color: #ffffff;
    border-bottom:solid 4px #666;
}

.carousel-inner h1{
    font-size: 50px;
}

footer{
    margin-top: 50px;
    border-top: solid 1px #e1e1e1;
    padding: 15px 0;
    background-color: #f7f7f7;
    font-size: 12px;
}

.page-height{
        padding-top: 50px;
    }

@media(min-width:1200px){
    .page-height{
        min-height: 450px;
        padding-top: 50px;
    }
}

.content-search{
    margin-top: 8px;
}

.content-search .form-control{
    width: 200px;
}

/* common css classes */

.inline-block{
    display: inline-block!important;
}

.contry-listing img{
    width: 100%;
    min-height: 260px;
}

.contry-listing .contry-name{
    display: block;
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
}

.media{
    margin-top: 30px;
}